<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicosoftReportViewerWebForms_v11" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.2.1" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.2.1" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.1" targetFramework="net45" />
</packages>