<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="PanelGeneral.aspx" slidingExpiration="true" protection="All" timeout="20"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>

    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <add name="CustomMembershipProvider" type="CapaPresentacion.Custom.CustomMembershipProvider" />
      </providers>
    </membership>
  </system.web>

  <connectionStrings>
    <add name="conexion_clinica" connectionString="Data Source=.; Initial Catalog=DBClinica_test; User ID=sa; Password=123456" providerName="System.Data.SqlClient"/>
    <add name="local_clinica" connectionString="Data Source=.; Initial Catalog=DBClinica_test; User ID=sa; Password=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
